<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Dorknozzle.master.cs" Inherits="Dorknozzle.Dorknozzle" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Untitled Page</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <!--Header-->
        <div class="Header">
            <asp:Image ID="Image1" runat="server" ImageUrl="~/Images/header.gif" Width="450" Height="174" />
        </div>

        <!--Menu-->
        <div class="Menu">
            <asp:SiteMapDataSource ID="dorknozzleSiteMap" runat="server" ShowStartingNode="False" />
            <asp:Menu ID="dorknozzleMenu" runat="server" DataSourceID="dorknozzleSiteMap">
                <StaticItemTemplate>
                    <img src="Images/book_closed.gif" alt="+" width="16" height="16" style="border-width: 0;" />
                    <%# Eval("Text") %>
                </StaticItemTemplate>
            </asp:Menu>
        </div>

        <!--Content-->
        <div class="Content">
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
